{{#side-menu width="300px" side=side}}
  <nav class="sm-item-list">
    <a href="">
      <i class="fa fa-fw fa-star-o"></i>
      <span>Favorites</span>
    </a>
    <a href="">
      <i class="fa fa-fw fa-bell-o"></i>
      <span>Alerts</span>
    </a>
    <a href="">
      <i class="fa fa-fw fa-envelope-o"></i>
      <span>Messages</span></a>
    <a href="">
      <i class="fa fa-fw fa-comment-o"></i>
      <span>Comments</span></a>
    <a href="">
      <i class="fa fa-fw fa-bar-chart-o"></i>
      <span>Analytics</span></a>
    <a href="">
      <i class="fa fa-fw fa-newspaper-o"></i>
      <span>Reading List</span>
    </a>
  </nav>
{{/side-menu}}
{{content-backdrop}}

<div id="outer-container">
  {{side-menu-toggle side=side}}

  <main id="page-wrap">
    <h1><a href="https://github.com/tsubik/ember-side-menu">ember-side-menu</a></h1>
    {{#side-button side="left" actualSide=side}}Left{{/side-button}}
    {{#side-button side="right" actualSide=side}}Right{{/side-button}}

    <h2 class="description">
      An off-canvas sidebar Ember component with a collection of effects and styles using CSS transitions and SVG path animations.
    </h2>

    <nav class="demo-buttons">
      {{#each model.options as |option|}}
        {{menu-style-option option=option activeOption=activeOption action="changeMenu"}}
      {{/each}}
    </nav>

    <p>
      Inspired by
    </p>
  </main>
</div>